* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(15, 15, 10);
    color: white;
}

.head {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 80px;
}

.credit {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: none;

}

.credit:hover {
    text-shadow: 0 0 5px rgba(228, 228, 127, 0.8);
}

#btn {
    margin-top: 100px;
    background: none;
    border: 2px solid white;
    padding: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

#btn:active {
    background-color: rgb(189, 188, 188);
}

#btn {
    color: white;
    text-decoration: none;
}

#game-container {
    background-color: rgb(15, 15, 10);
    width: 100vw;
    height: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px 0px;
    padding-bottom: 30px;
}

.prompt {
    font-size: 45px;
    text-align: center;
}

.choices-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 1em;
}

.choices-container img {
    width: 90px;
    height: 90px;
    background: none;
    border: none;
    object-fit: cover;
}

.choices-container button {
    background-color: rgb(17, 17, 6);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: solid rgb(228, 228, 127) 1px;
    transition: all 0.3s ease;    
}

.choices-container button:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
}

.game-scn {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
    text-align: center;
    align-items: center;
}

.game-scn img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white solid 2px;
    background-color: rgb(17, 17, 6);
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
}

.score {
    width: 70px;
    border: solid rgb(228, 228, 127) 1px;
    font-size: 50px;
    border-radius: 3px;
    background-color: rgb(17, 17, 6);
    box-shadow: 0 0 10px 2px rgba(228, 228, 127, 0.2);
}

.choice p{
    font-size: 25px;
    margin-top: 10px;
}

.p-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}

.progress {
    font-size: 40px;
    text-align: center;
    background-color: rgb(17, 17, 6);
    width: 50%;
    border-radius: 5px;
    border: solid rgb(228, 228, 127) 1px;
}

.restart-btn {
    font-size: 25px;
    text-align: center;
    background-color: rgb(17, 17, 6);
    color: white;
    border: solid rgb(228, 228, 127) 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

.restart-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;    
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
    transform: scale(1.1);
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px 0px;
}