* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(17, 16, 16);
}
.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(15, 15, 10);
    color: white;
}

.nav1 {
    position: fixed;
    top: 10px;
    left: 40px;
    z-index: 2;
}

.nav1 img {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
    z-index: 1;
}

.nav1 img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.nav2 {
    z-index: 2;
    transition: all ease 0.3s;
}

.nav2 button{
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 2;
    opacity: 0;
    border: none;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 25px;
    font-size: 22px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav2 img{
    position: fixed;
    top: 10px;
    right: 40px;
    z-index: 2;
    width: 50px;
    height: 50px;
    transition: all ease 0.3s;
}

.nav2:hover img {
    opacity: 0;
}

.nav2:hover button {
    opacity: 1;
}

.head {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 800;
    font-size: 90px;
    transition: all ease 0.5s;
}

.head:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.credit {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    color: white;
    text-decoration: none;
    transition: all ease 0.5s;
}

.credit:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

#btn {
    margin-top: 100px;
    background: none;
    border: 2px solid white;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

#game-container {
    position: relative;
    background-color: rgb(15, 15, 10);
    width: 100vw;
    height: auto;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 10px 0px;
    padding-bottom: 30px;
}

.prompt {
    font-family: 'Cinzel', serif;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    transition: all ease 0.5s;
}

.prompt:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.choices-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 1em;
}

.choices-container img {
    width: 90px;
    height: 90px;
    background: none;
    border: none;
    object-fit: cover;
}

.choices-container button {
    background-color: rgb(17, 17, 6);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: solid rgb(228, 228, 127) 1px;
    transition: all 0.3s ease;    
}

.choices-container button:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
}

.game-scn {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    gap: 1em;
    text-align: center;
    align-items: center;
}

.game-scn img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white solid 2px;
    background-color: rgb(17, 17, 6);
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
}

.score {
    width: 70px;
    border: solid rgb(228, 228, 127) 1px;
    font-size: 50px;
    border-radius: 3px;
    background-color: rgb(17, 17, 6);
    box-shadow: 0 0 10px 2px rgba(228, 228, 127, 0.2);
}

.choice p{
    font-size: 25px;
    margin-top: 10px;
}

.p-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}

.progress {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(17, 17, 6);
    width: 50%;
    border-radius: 5px;
    border: solid rgb(228, 228, 127) 1px;
}

.restart-btn {
    font-size: 25px;
    text-align: center;
    background-color: rgb(17, 17, 6);
    color: white;
    border: solid rgb(228, 228, 127) 1px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    z-index: 2;
}

.restart-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;    
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
    transform: scale(1.1);
}

.footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 5px 0px;
}

#name-container {
    background-color: rgb(15, 15, 10);
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    gap: 30px;
}

#name-container p {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    text-align: center;
    transition: all ease 0.5s;
}

#name-container p:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

#name-container input {
    font-size: 50px;
    border: 2px solid black;
    border-radius: 8px;
    color: rgb(128, 128, 1);
    border: solid 2px rgb(128, 128, 1);
    padding: 1px 15px;
    font-family: 'Cinzel', serif;
    text-align: center;
}

#name-container input:focus {
    outline: none;
    border: solid 2px rgb(243, 243, 96);
    box-shadow: 0 0 8px 5px rgb(161, 161, 24);
    transition: all ease 0.2s;
}

.submit-name {
    background: none;
    border: 2px solid white;
    padding: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease;
}

.submit-name:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

#avatar-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 10px;
    background-color: rgb(15, 15, 10);
}

#avatar-container p {
    text-align: center;
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 70px;
    font-weight: 800;
    transition: all ease 0.5s;
}

#avatar-container p:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.avatars {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.avr-1 {
    display: flex;
    gap: 3em;
}

.avr-2 {
    display: flex;
    gap: 3em;
}

#avatar-container img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: none;
    transition: all ease 0.3s;
    background-color: rgb(17, 17, 6);
    border: solid rgb(228, 228, 127) 1px;
}

#avatar-container img:hover {
    transform: scale(1.2);
    cursor: pointer;
    box-shadow: 0 0 15px 3px rgba(228, 228, 127, 0.2);
    border: solid rgb(228, 228, 127) 1px;
}

.result-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 1;
    visibility: hidden;
}

.pop-up {
    width: 40%;
    min-width: 20%;
    height: 60%;
    background-color: rgb(17, 17, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: solid 2px white;
    border-radius: 6px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    font-family: 'Cinzel', serif;
    color: white;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.11);
    visibility: hidden;
}

.pop-up img {
    width: 100px;
    height: 100px;
    margin-bottom: 1em;
}

.pop-up h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

.pop-up p {
    text-align: center;
    margin-bottom: 1em;
}

.pop-btn {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 15px;
}

.pop-btn button {
    border: 2px solid white;
    padding: 10px 25px;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: transform 0.3s ease;
}

.pop-btn button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

#feed-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 10);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    color: white;
}

#feed-container h1 {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: 800;
    color: white;
    text-align: center;
    transition: all ease 0.5s;
}

#feed-container h1:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 5px;
}

.rev-input {
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#feed-container input {
    font-size: 20px;
    width: 600px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    color: rgb(128, 128, 1);
    border: solid 2px rgb(128, 128, 1);
    padding: 1px 15px;
    font-family: 'Cinzel', serif;
}

#feed-container input:focus {
    outline: none;
    border: solid 2px rgb(243, 243, 96);
    box-shadow: 0 0 8px 5px rgb(161, 161, 24);
    transition: all ease 0.3s;
}

.revsub-btn {
    background: none;
    border: 2px solid white;
    padding: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 10px 3px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease;
}

.revsub-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);
}

.rev {
    display: flex;
    justify-content: center;
    gap: 1em;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
}

.rev img {
    width: 60px;
    height: 60px;
    border: solid 1px rgb(221, 221, 5);
    border-radius: 50%;
}

.rev-right {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.rev-c {
    color: white;
}

.rev-a {
    color:rgb(221, 221, 5);
    font-size: 13px;
}

.rick-main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 15, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rick-main h1 {
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 80px;
    transition: all ease 0.5s;
}

.rick-main h1:hover {
    text-shadow: 0 0 15px rgba(228, 228, 127, 0.8);
    letter-spacing: 8px;
}

.rick-main video {
    width: 50%;
    padding: none;
    margin: none;
    border: solid 2px white;
}

.back {
    position: fixed;
    top: 20px;
    left: 30px;
    border: none;
    background: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid white;
    box-shadow: 0 0 10px 5px rgba(228, 228, 127, 0.2);
    transition: all 0.3s ease; 
}

.back:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transform: scale(1.2);    
}